In [ ]:
class Car:
  def __init__(self,name,mileage):
    self.name = name
    self.mileage = mileage

  def __str__(self):
    return f"{self.name} name with mileage as {self.mileage} "

  def __add__(self,other):
    return self.mileage + other.mileage

  def __lt__(self,other):
    return self.mileage < other.mileage

  def __call__(self):
    print("I was called in this Class")

  #def __add__(self,other):
    #return Car(self.name + "&" +other.name, self.mileage + other.mileage)

In [ ]:
c1 = Car("Nexon",15)
c2 = Car("Scorpio",13)
#c3 = Car("Thar",10)

In [ ]:
print(c1)

Nexon name with mileage as 15

In [ ]:
c1 + c2

28

In [ ]:
c1 + c2 + Car("Thar",10) # Pending State

TypeError: unsupported operand type(s) for +: 'int' and 'Car'

In [ ]:
c1 < c2

False

In [ ]:
c1()

I was called in this Class

In [ ]:
class SchoolMember:
  def __init__(self,name):
    self.name = name

class Student(SchoolMember):
  def __init__(self,name,grade):
    super().__init__(name)
    #self.name = name
    self.grade = grade

class Staff(SchoolMember):
  def __init__(self,name,salary):
    super().__init__(name)
    #self.name = name
    self.salary = salary

class Teacher(Staff):
  def __init__(self,name,salary,subject):
    super().__init__(name,salary)
    self.subject = subject

In [ ]:
s1 = Student("Nishtha","A")

In [ ]:
type(s1)

__main__.Student

In [ ]:
s1.grade

'A'

In [ ]:
s1.name

'Nishtha'

In [ ]:
print(s1.name)
s1.name = "Random"
print(s1.name)

Nishtha
Random

In [ ]:
t1 = Teacher("Amit",1000,"Sql And Python")
print(t1.name,t1.salary,t1.subject)

Amit 1000 Sql And Python

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdrawl(self, amount):
        self.balance -= amount

    def deposit(self, amount):
        self.balance += amount

In [ ]:
b1 = BankAccount(10000)
b1.deposit(2000)
b1.withdrawl(5000)

b1.balance

7000

In [ ]:
b1.balance = 12456215673127817837189372189
b1.balance

12456215673127817837189372189

In [ ]:
b1.withdrawl(77867868687678)
b1.balance

12456215673127739969320684511

In [ ]:
#default Python behavior

class Demo:
  def __init__(self):
    self.name = "Public"


obj = Demo()
print(obj.name)

Public

In [ ]:
#protected Python behavior

class Demo:
  def __init__(self):
    self._name = "Protected"


obj = Demo()
print(obj._name)

Protected

In [ ]:
#private Python behavior

class Demo:
  def __init__(self):
    self.__name = "Private"


obj = Demo()
#print(obj.__name)

print(obj._Demo__name)

Private

In [ ]:
dir(obj)

['_Demo__name',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [ ]:
class Base:
    def __init__(self):
        self.__data = "Base data"

class Child(Base):
    def __init__(self):
        super().__init__()
        self.__data = "Child data"

obj = Child()
print(obj.__dict__)

{'_Base__data': 'Base data', '_Child__data': 'Child data'}

In [ ]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass

class D(A):
    x = 5

class E(C, D):
    pass

In [ ]:
e1 = E()
e1.x

5

In [ ]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [ ]:
class A:
    def show(self):
        print("A")

class B(A):
    def show(self):
        print("B")

class C(A):
    def show(self):
        print("C")

class D(B, C):
    pass

d = D()
d.show()

print(D.mro())

B
[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]

In [ ]:
class A:
    def show(self):
        print("Class A")

class B(A):
    def show(self):
        print("Class B")

class C(A):
    def show(self):
        print("Class C")

class D(B, C):
    pass

d = D()
d.show()

print(D.mro())

Class B
[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]

In [ ]:
class A:
    def show(self):
        print("Class A")

class B(A):
    def show(self):
        print("Class B")

class C(A):
    def show(self):
        print("Class C")

class D(B, C):
    def show(self):
        print("Class D")

d = D()
d.show()
print(D.mro())

Class D
[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]

In [ ]:
class Car:
  def __init__(self,name,mileage):
    self.name = name
    self.mileage = mileage

  def __str__(self):
    return f"{self.name} name with mileage as {self.mileage} "

  #def __add__(self,other):
    #return self.mileage + other.mileage

  def __lt__(self,other):
    return self.mileage < other.mileage

  def __call__(self):
    print("I was called in this Class")

  def __add__(self, other):
        if isinstance(other, Car):
            return Car(self.name + "+" + other.name, self.mileage + other.mileage)
        return NotImplemented

  def __rdd__(self,other):
    return self.__add__(other)

In [ ]:
c1 = Car("Nexon",12)
c2 = Car("Scorpio",15)
c3 = Car("BMW",17)

In [ ]:
c1 + c2 + c3

In [ ]:
class A:
    print("Am I a class?")

a = A()
print(id(a))
obj1 = A()
print(id(obj1))
if A():
    b = A()
    print(id(b))

Am I a class?
140399136555328
140399689291904
140399141667712

In [ ]:
class Student:
    def __init__(random, id, age):
        self.id = id
        self.age = age

s1 = Student(1, 5000)

In [ ]:
class A:
    def __init__(self, name):
        self.name = name

a1 = A("Bunty")
a2 = A("Babli")

print(id(a1) == id(a2))

False

In [ ]:
class Counter:
    def __init__(self):
        self.count=5
        self.count=count+1

c = Counter()
print(c.count)

NameError: name 'count' is not defined

In [ ]:
class Random:
    def __init__(self, a = "Is it possible?"):
        self.a = a

    def display(self):
        print(self.a)

r = Random()
r.display()

Is it possible?

In [ ]:
class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)

    def update(self, var):
        var = 'New'

a = A()
print(a.variable)

New

In [ ]:
class A:
    def do_something(self):
        print("I do something!")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!")

b = B()
b.do_something()

I do something!
I also do something!