In [ ]:
x = 5

x = 3 * x
x += 1

x

16

In [ ]:
#option 1 create a new object evrey time

x = 5

x1 = 3 *x
x2 = x1 + 1

x

5

In [ ]:
x = 5

def mutation(x):
  x = 3 * x
  x += 1
  return x

In [ ]:
x1 = mutation(x)
x1

16

In [ ]:
x

5

In [ ]:
a = [1,2,3,4,5,6,7,8,9]

res = [i**2 for i in a]

In [ ]:
res

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#using map function

res_1 = map(lambda x : x ** 2,a)

print(list(res_1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Convert strings to uppercase

names = ["amit", "aryan", "rahul"]
uppercase_names = list(map(str.upper, names))
print(uppercase_names)
#names = ["AMIT", "ARYAN", "RAHUL"]

['AMIT', 'ARYAN', 'RAHUL']

In [ ]:
#Add two lists element-wise

a = [1, 2, 3]
b = [10, 20, 30]

result = list(map(lambda x, y: x + y, a, b))
print(result)

#[11, 22, 33]

[11, 22, 33]

In [ ]:
#Task 2: Convert given height to t-shirt size
#h < 150 -> S
#h >= 150 and h < 180 -> M
#h >= 180 -> L

heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

In [ ]:
def height_chart(height):
  if height < 150:
    return "S"
  elif height >= 150 and height < 180:
    return "M"
  else:
    return "L"

In [ ]:
sizes = list(map(height_chart,heights))
sizes

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
sizes_1 = list(map(lambda x:"S" if x < 150 else "M" if x >=150 and x < 180 else "L",heights))
sizes_1

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
#Task 3: Given two lists A and B having 1s and 0s,
# find another list with element at index i as True if A[i] == B[i] else False

A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

# C = [True, True, False.........] True = if both A,B have same element else false

C = list(map(lambda x,y:True if x==y else False,a,b))
C

[False, False, False]

In [ ]:
C= list(map(lambda x, y: x == y, A, B))
C

[False, True, False, True, False, True, False, False, True, False, True, False]

In [ ]:
#Process multiple lists

marks = [80, 90, 70]
weights = [0.5, 0.3, 0.2]

res = list(map(lambda m,w: m*w, marks, weights))
total = sum(res)

print(res,total)

#[40.0, 27.0, 14.0] -->  # 81.0

[40.0, 27.0, 14.0] 81.0

In [ ]:
weighted = list(map(lambda m, w: m * w, marks, weights))
print(weighted)
print(sum(weighted))

[40.0, 27.0, 14.0]
81.0

In [ ]:
a = list(range(1,11))

a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
filter_output = list(filter(lambda x:x % 2 == 0,a))
filter_output

[2, 4, 6, 8, 10]

In [ ]:
filter_output = list(filter(lambda x:x % 2 == 0,[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

In [ ]:
filter_output

[2, 4, 6, 8, 10]

In [ ]:
words = ["python", "java", "c", "cpp", "golang", "rust", "js"]
#Use filter() to select words that have more than 3 characters.

output = list(filter(lambda x :len(x) > 3, words))
output

['python', 'java', 'golang', 'rust']

In [ ]:
students = [("Amit", 85), ("Aryan", 40), ("Rahul", 72), ("Neha", 30)]

#Filter students who passed (score â‰¥ 50)

output = list(map(lambda x:x[0],list(filter(lambda x:x[1]>=50,students))))
output

['Amit', 'Rahul']

In [ ]:
#Filter prime numbers from 1 to 50


#[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
input = list(range(1,51))
def prime_numbers(n):
  if n < 2:
    return False
  for i in range (2, int(n ** 0.5) +1):
    if n % i == 0:
        return False
  return True

In [ ]:
ans = list(filter(prime_numbers,input))
ans

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
numbers = list(range(1,51))
primes = list(filter(
    lambda n: n > 1 and len([i for i in range(2, int(n**0.5) + 1) if n % i == 0]) == 0,
    numbers
))

In [ ]:
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
numbers = list(range(1, 11))

result = list(
    map(lambda x: x**2, filter(lambda n: n % 2 == 0, numbers))
)

print(result)

[4, 16, 36, 64, 100]

In [ ]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]

result = list(zip(a,b))

result

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]
c = ["x", "y", "z", "m", "n"]


result = list(zip(c, b,a))
result

[('x', 'a', 1), ('y', 'b', 2), ('z', 'c', 3)]

In [ ]:
from functools import reduce

numbers = [1,2,3,4,5]

result = reduce(lambda x,y : x + y,numbers)

result

15

In [ ]:
#find the maxium element from element

n = [7,11,9,3,6,4,2]

result = reduce(lambda x,y: x if x > y else y,n)

result

11

In [ ]:
#Multiply all numbers

numbers = [1, 2, 3, 4, 5]
#outupt = 120

res = reduce(lambda x,y: x*y, numbers)
res

120

In [ ]:
def sum_number(x, y):
    return x + y

In [ ]:
res = sum_number(6,7)
res

13

In [ ]:
sum_number(5,6,7,8,9,10,11,12,13,14,15,16)

TypeError: sum_number() takes 2 positional arguments but 12 were given

In [ ]:
def sum_number(x, y,*args):
    result = x + y
    if args:
      result += sum(args)
    return result

In [ ]:
sum_number(5,6,7,8,9,10,11,12,13,14,15,16)

126

In [ ]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    return Person

In [ ]:
p1 = create_person(name = "Rohit", age = 1500, gender = "Male")

In [ ]:
p1

{'name': 'Rohit', 'age': 1500, 'gender': 'Male'}

In [ ]:
def create_person(name, age, gender, **extra_info):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    if extra_info:
        Person.update(extra_info)

    return Person

In [ ]:
p2 = create_person(name = "Rohit", age = 1500, gender = "Male", color = "blue", hobby = "chess")

{'name': 'Rohit',
 'age': 1500,
 'gender': 'Male',
 'color': 'blue',
 'hobby': 'chess'}

In [ ]:
def random(x, y, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

In [ ]:
random(1,2,4,5,6,m=1,n=2,o=3,8,9,0)

SyntaxError: positional argument follows keyword argument (ipython-input-3898687063.py, line 1)

In [ ]:
random(2,1,2,3,z=1)

2
(2, 3)
{'z': 1}