In [ ]:
def bubble_sort(a):
  for i in range(len(a)):
    for j in range(i,len(a)-1):
      if a[j] > a[j+1]:
        a[j],a[j+1] = a[j+1],a[j]
  return a

In [ ]:
a = [1,5,2,4,7,3]
bubble_sort(a)

[1, 2, 3, 4, 5, 7]

In [ ]:
#OOPS
class Student:
  #methods
  #properties
  pass

In [ ]:
isinstance(Student,object)

True

In [ ]:
myobj = Student()

In [ ]:
type(myobj)

__main__.Student

In [ ]:
isinstance(myobj,Student)

True

In [ ]:
isinstance(myobj,object)

True

In [ ]:
s1 = Student()
s1.name = "Satya"

In [ ]:
s1.name

'Satya'

In [ ]:
s2 = s1
s2.name

'Satya'

In [ ]:
class Student:
  def hello():
    print("Hello Team!!")

In [ ]:
s2 = Student()

In [ ]:
s2.hello()
#Student.hello(s2)

TypeError: Student.hello() takes 0 positional arguments but 1 was given

In [ ]:
class Student:
  def hello(self):
    print("Hello Team!!")
    print(id(self))

In [ ]:
s1 = Student()
print(id(s1))
s1.hello()

139350600948464
Hello Team!!
139350600948464

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        #this will create property name on current object "self"
        self.age = age

    def study(self):
      print("lemme watch movie")

In [ ]:
s1 = Student("Vaishali", 5000)
#Student.__init__(s1,Vaishali,5000)

In [ ]:
print(s1.name)
print(s1.age)

Vaishali
5000

In [ ]:
class Dog:
  kind = "Canine"

  def __init__(self,name):
    self.name = name

In [ ]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [ ]:
d1.name

'Tuffy'

In [ ]:
d1.kind

'Canine'

In [ ]:
d2.kind

'Canine'

In [ ]:
Dog.kind = "Some Random Stuff"

In [ ]:
print(d1.kind+ " ok okokokoko ",d2.kind)

Something ok okokokoko  Some Random Stuff

In [ ]:
d1.kind = "Something"
#print(d1.kind+ " ok okokokoko ",d2.kind)

In [ ]:
class Dog:
     tricks = []

     def __init__(self, name):
        self.name = name

     def teach_trick(self, trick):
        self.tricks.append(trick)

In [ ]:
d1 = Dog("pupy")
#Dog.__init__(d1,name)
d2 = Dog("tommy")

In [ ]:
print(d1.tricks)
print(d2.tricks)

[]
[]

In [ ]:
print(d1.name)
print(d2.name)

pupy
tommy

In [ ]:
d1.teach_trick("jump")
d1.tricks

['jump']

In [ ]:
d2.tricks

['jump']

In [ ]:
d2.tricks = "Eat"

print(d1.tricks," ",d2.tricks)

['jump']   Eat

In [ ]:
class Dog:
    dog_count = 10

    def __init__(self, name, breed, age):
        self.name = name
        self.breed = breed
        self.age = age
        print(f" created: {self.name}, {self.breed}, {self.age} years old")

    def bark(self):
        print(f"{self.name} says: Woof! üê∂")

    def info(self):
        print(f"Name: {self.name}, Breed: {self.breed}, Age: {self.age}")

    def count(numbr):
        dog_count = numbr

In [ ]:
d1 = Dog("Bruno","Labrador",3)
d2 = Dog("Tomy","Beagie",5)

 created: Bruno, Labrador, 3 years old
 created: Tomy, Beagie, 5 years old

In [ ]:
d1.bark()

Bruno says: Woof! üê∂

In [ ]:
d2.bark()

print(d1.dog_count,d2.dog_count)

Tomy says: Woof! üê∂
10 10

In [ ]:
d3 = Dog("Rocky","German Shepard",2)
print(d1.dog_count,d2.dog_count,d3.dog_count)

 created: Rocky, German Shepard, 2 years old
10 10 10

In [ ]:
#d3.count(11)
#d2.count(20)

In [ ]:
print(d1.dog_count," # ", d2.dog_count," $ ",d3.dog_count)

10  #  10  $  10

In [ ]:
class Student:
  school = "ABC High School"

  def __init__(self, name, age):
    self.name = name
    self.age = age

In [ ]:
s1 = Student("Amit", 20)
s2 = Student("Rahul", 22)

In [ ]:
print(s1.name, s1.age, s1.school)
print(s2.name, s2.age, s2.school)

Amit 20 ABC High School
Rahul 22 ABC High School

In [ ]:
Student.school = "XYZ Academy"

print(s1.school,s2.school)

XYZ Academy XYZ Academy

In [ ]:
s1.age = 25
print(s1.age)
print(s2.age)

25
22